<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
<h1>Поиск по публикациям :</h1>
{% endblock title %}

{% block content %}

   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>


   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Автор</td>
               <td>Категории</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.header|censored }}</td>
               <td>{{ post.creation_time|date:'M d Y' }}</td>
               <td>{{ post.text|truncatewords:20|censored }}</td>
               <td>{{ post.author.nick_name }}</td>
               <td>{% for cat in post.category.all %}
               {{ cat.category }}
               {% endfor %}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Ничего не найдено</h2>
   {% endif %}


   <hr>
   <h3>Найдено статей на портале: {{ posts.all.count }} </h3>
{% endblock content %}