<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
            <title>{% block title %} {% endblock title %}</title>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/about">Ух ты новости&copy;</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Оглавление</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/about">О нас</a></li>
                           {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/posts/logout/"> Выйти </a></li>
                        <li class="nav-item"><a class="nav-link" href="/posts/user/{{ request.user.id }}"> Личный кабинет </a></li>
                        <li class="nav-item"><a class="nav-link" href="/posts/user/subscribe"> Подписки </a></li>
                           {% else %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/login/"> Войти </a></li>
                           {% endif %}
                           {% if is_not_author %}
                        <li class="nav-item"><a class="nav-link" href="/posts/upgrade/"> Стать автором </a></li>
                           {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                    </ul>
                    <form class="d-flex">
                    </form>
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder"><small></small> </h1>
                        <div class="fs-5 mb-5">
                        </div>
                        <p class="lead"> {% block content %} {% endblock content %} </p>
                        <div class="d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </section>
   <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; "Ух ты новости" 2023</p></div>
                    <p class="lead"> {% block extra_body %}
        {% endblock extra_body %} </p>
        </footer>

    </body>
</html>